<h1>Datos del usuario</h1>
{{!-- {{#each userData}}
<div>
    <p>Nombre: <strong>{{this.nombre}}</strong></p>
    <p>Apellido: <strong>{{this.apellido}}</strong></p>
    <p>Correo: <strong>{{this.correo}}</strong></p>
    <p>Edad: <strong>{{this.edad}}</strong></p>
    <p>Teléfono: <strong>{{this.telefono}}</strong></p>
</div>
{{/each}} --}}